CompileFlags:
    Add: -DPROFESSOR_VERSION
    Remove: -fconcepts-diagnostics-depth=*
    CompilationDatabase: build/unixlike-gcc-debug

InlayHints:
    BlockEnd: No
    Designators: Yes
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    TypeNameLimit: 24

Diagnostics:
    UnusedIncludes: Strict
    MissingIncludes: Strict

Style:
    #QuotedHeaders: "core/.*"
    AngledHeaders: "(range|boost|fmt|catch2|nlohmann|argparse|gsl|elfio)/.*"

Completion:
    AllScopes: Yes
    ArgumentLists: Delimiters # fo^ completes to foo(^)

Documentation:
    CommentFormat: Doxygen

---

If:
    PathMatch: ".*\\.in"
Diagnostics:
    Suppress: "*"
