CompileFlags:
    CompilationDatabase: build/

InlayHints:
    BlockEnd: No
    Designators: Yes
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    TypeNameLimit: 24

Completion:
    AllScopes: Yes
    ArgumentLists: Delimeters # fo^ completes to foo(^)
