---
# TODO: Maybe a wider column width? Don't need split screen or anything
# TODO: Double-check values based off of homework style guide
BreakConstructorInitializers: BeforeComma

AlwaysBreakTemplateDeclarations: true

PointerAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  AfterClass: true
  AfterFunction: false
  AfterStruct: true

TabWidth: 4
IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4

SeparateDefinitionBlocks: Always

ColumnLimit: 120

FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: Inline

SortIncludes: CaseInsensitive

# Categories:
#   Main header (top)
#   Project headers
#   3rd-party Library headers
#   Std Library headers (C++)
#   Other library headers
#
#   catch2_custom custom (top) as "main" include for tests
IncludeCategories:
  - Regex:           '^<(range|boost|fmt|catch2|nlohmann|argparse|gsl|elfio)/'
    Priority:        2
    CaseSensitive:   true
  - Regex:           '^<[^\.]+>' # stdlib (C++, no .h)
    Priority:        3

    # other library headers (implicitly last)

  - Regex:           '^"catch2_custom.hpp'
    Priority:        -1

  - Regex:           '^".*'  # project headers
    Priority:        1

IncludeBlocks: Regroup
